/* Apply the same background as Hero only on the home page */
.home-header {
  position: absolute; /* Make header float over the hero */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Transparent whitish */
  backdrop-filter: blur(8px); /* Blurred glass effect */
  padding: 15px 0;
}


/* Default Static Header */
.static-header {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Logo and Link Colors */
.home-header .logo a,
.home-header nav a {
  color: white;
}

.static-header .logo a,
.static-header nav a {
  color: #590109;
}

/* Hover Effects */
.header nav a:hover {
  color: #e30217;
}
